.living-anime{
    animation: wave 1s infinite;
    -webkit-animation: wave 1s infinite;
}
@keyframes wave
{
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes wave /*Safari and Chrome*/
{
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


.alert-anime{
    animation: flash 2s infinite;
    -webkit-animation: flash 2s infinite;
}

@keyframes flash
{
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flash /*Safari and Chrome*/
{
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader-rotate{
    animation: rotate 1.5s infinite;
    -webkit-animation: rotate 1.5s infinite;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}